<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/NavStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DoctorsSearch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/VisitStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DoctorCreateStyle.css" asp-append-version="true" />
    
</head>
<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                
                    <li><img class="img-logo" src="images/logo.jpg" width="50" height="50"><a href="index.html">MedicsGo</a>
                    </li>
                    <li><a asp-controller="Doctor" asp-action="ShowDoctors">Doctors</a></li>
                    <li><a href="https://www.medicover.pl/en/coronavirus/vaccination/">Covid-19 & vaccination</a></li>
                    <li><img class="img-login" src="images/login.jpg" width="50" height="50"><a asp-controller="Account" asp-action="Login">Log in
                            & Sign up</a></li>
                    
                
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Doctor" asp-action="CreatingDoctor">Create doctor</a></li>
                    <li class="nav-item">
                        <form asp-action="Logout" asp-controller="Account" type="post" ><input type="submit" value="Logout"/></form>
                    </li> 


                }
                
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HospitalApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
