@using HospitalApp.Services.Interfaces;
@using HospitalApp.ViewModels;
@model DoctorViewModel


<div class="main-create">
    <h1>Create doctor</h1>
    <form asp-controller="Doctor" asp-action="CreatingDoctor" class="doctorInfo" enctype="multipart/form-data">
        
        <div class="field">
            <input asp-for="Name" type="text" placeholder="Doctor Name" required>
        </div>
        <div class="field">
            <input asp-for="SurName" type="text" placeholder="Doctor surname" required>
        </div>
        <div class="field">
            <input asp-for="Specialty" type="text" placeholder="Doctor specialty" required>
        </div>
        <div class="field">
            <input asp-for="VisitDuration" type="number" min="15" max="60" placeholder="Visit duration" required>
        </div>
        <div class="field">
            <input asp-for="image" type="file">
        </div>
        <input class="button_create" type="submit" value="Create">                                      
    </form>
</div>

