@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
    font-family: Poppins;
    color: #777;
    font-weight:bold;
}


body {
    padding: 0;
    margin: 0;
}


.main-header {
    background-color: #B9F3E4;
    margin: 0;
}

.nav-ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    align-items: center;
    padding: .5em;
    text-decoration: none;
}

.main-nav {
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

    .main-nav li {
        margin-inline: 30px;
    }

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
