@model Doctor

<form asp-controller="Doctor" asp-action="CreatingDoctor">
    <input asp-for="Name"/>
    <input asp-for="SurName"/>
    <input asp-for="Specialty"/>
    <input asp-for="VisitDuration"/>
   <input type="submit" value="send"/>
    
</form>

@Html.Partial("ShowDoctors", ViewData["doctors"])
