@model Patient


<form asp-controller="Admin" asp-action="SavePatientChanges">
    <input readonly value="@Model.Id" asp-for="Id"/>
    <input value="@Model.Name" asp-for="Name"/>
    <input value="@Model.SurName" asp-for="SurName"/>
    <input value="@Model.DateOfBirth" asp-for="DateOfBirth"/>
    <input type="submit" value="save"/>

</form>