@model IEnumerable<Patient>
<table class="table-bordered">

    <thead>
        <tr>
            <th>
                Patient name
            </th>
            <th>
                Patient surname
            </th>
            <th>
                Patient date of birth
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var patient in Model)
            {
                <tr>
                    <th>
                        @patient.Name
                    </th>
                    <th>
                        @patient.SurName
                    </th>
                    <th>
                        @patient.DateOfBirth
                    </th>
                    <th>
                        <form asp-controller="Admin" asp-action="EditPatient" asp-route-id="@patient.Id">
                            <input type="submit" value="edit" />
                        </form>
                    </th>
                    <th>
                        <button asp-action="DeletePatient">
                            delete
                        </button>
                    </th>

                </tr>

            }

        }

    </tbody>
</table>
