@model Patient
@using HospitalApp.Services.Interfaces
@inject IPatientService patientService


<form asp-controller="Patient" asp-action="CreatePatient">
    <input asp-for="Name"/>
    <span asp-validation-for="Name"></span>
    <input asp-for="SurName"/>
    <span asp-validation-for="SurName"></span>
    <input type = "date" asp-for="DateOfBirth"/>
    <span asp-validation-for="DateOfBirth"></span>
    <input type="submit" value="send"/>

</form>


@Html.Partial("ShowPatients", patientService.GetPatients())
