@model Patient


<form asp-controller="Patient" asp-action="CreatePatient">
    <input asp-for="Name"/>
    <input asp-for="SurName"/>
    <input type = "date" asp-for="DateOfBirth"/>
    <input type="submit" value="send"/>

</form>
