@model Doctor

<form asp-controller="Admin" asp-action="CreatingDoctor">
    <input asp-for="Name"/>
    <input asp-for="SurName"/>
    <input asp-for="Specialty"/>
    <input type="submit" value="send"/>
    
</form>

@Html.Partial("ShowDoctors", Administrator.doctors)
