h1 {
    margin: 0;
    margin-bottom: 10px;
}


.footer li {
    margin: 20px;
    display: inline;
}

.footer a {
    align-items: center;
    padding: .5em;
    color: white;
    text-decoration: none;
}


.main-middle {
    background-color: antiquewhite;
    background-blend-mode: multiply;
    background-size: auto;
    padding-bottom: 50px;

}

.main-middle {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.img-logo {
    align-items: center;

}

.top-nav {
    justify-content: center;
}


.main-footer {
    background-image: url("images/footer.jpg");
    position: absolute;
    bottom: 0;
    width: 100%;

}

.contact-main {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.contact-main ul {
    align-items: center;
    padding: .5em;
    color: white;
    text-decoration: none;

}

.button {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #1e90ff;
    font-weight: bold;
}

.top-nav {
    width: 30px;
    height: 50px;
}