
.main-create h1{
    color: brown;
}


.main-create{
    text-align: center;
}

.main-create form .field input {
    height: 40%;
    width: 20%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    border-bottom-width: 4px;
    transition: all 0.4s ease;
}

.main-create form .field{
    height: 80px;
    width: 100%;
    margin-inline-start: 10px;
}

.button_create{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #1e90ff;
    width:  160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform-property: box-shadow, transform;
    transition-property: box-shadow, transform;

}

.button_create, .button_create:focus, .button_create:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

